include LICENSE
include README.md
prune .vscode
prune .zed
prune .github
recursive-exclude * __pycache__
prune datasets/drivingstereo
prune datasets/eth3d_lowres
prune datasets/kitti2015
prune datasets/middlebury_2014
prune datasets/opencv-sample
prune datasets/sceneflow
